@media only screen and (max-width: 1070px) {
    .bye {
        display: none;
    }
/*     .hijo2 {
        grid-column-start: 1;
    grid-column-end: 5; 
    }
    .hijo3 {
        grid-column-start: 5;
        grid-column-end: 5;
    } */
}